<h2 style="text-align: center; margin-top:50px">Clasificacion de Impactos</h2>

<!-- <div style="display: flex; justify-content: center;">
  <div style="width: 100%; max-width: 1200px; display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <dx-button
        type="normal"
        stylingMode="outlined"
        text="Añadir Impacto"
        icon="/assets/plus-solid.svg"
        [routerLink]="['/impacto-registro']">
      </dx-button>
  </div>
</div> -->

<div style="display: flex; justify-content: center;">
  <dx-data-grid style="width: 100%; max-width: 1200px;" class="dx-card wide-card"
  [dataSource]="dataSource"
  [keyExpr]="'id'"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
   [editing]="{
      mode: 'batch',
      allowUpdating: true,
      allowDeleting: true,
      allowAdding: true,
      texts: {
        confirmDeleteMessage: '¿Está seguro de que desea eliminar este registro?'
      }
    }"
    (onRowUpdating)="guardarCambios($event)"
    (onRowInserting)="Crear($event)"
    (onRowRemoving)="Borrar($event)">


<dxo-paging [pageSize]="10"></dxo-paging>
<dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
<dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="id"
    caption="ID"
    [width]="100"
    [allowEditing]="false">
  </dxi-column>

  <dxi-column
    dataField="nombre"
    caption="Nombre"
    [hidingPriority]="1"
    [allowEditing]="true">
  </dxi-column>

  <dxi-column
    dataField="descripcion"
    caption="Descripción"
    [hidingPriority]="2"
    [allowEditing]="true">
  </dxi-column>
  </dx-data-grid>
</div>




