<h2 style="text-align: center; margin-top:50px">Nueva Categoria de Productos</h2>
<div style="display: flex; justify-content: center; margin-top: 50px;">
  <form #myForm="ngForm" style="width: 100%; max-width: 800px;">
    <dx-form [colCount]="1">
      <dxi-item>
        <dx-text-box
          [(ngModel)]="formData.nombre"
          name="nombre"
          label="Nombre"
        ></dx-text-box>
      </dxi-item>
      <dxi-item>
        <dx-text-area
          [(ngModel)]="formData.descripcion"
          name="descripcion"
          label="Descripción"
        ></dx-text-area>
      </dxi-item>
    </dx-form>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <dx-button style="margin-right: 5px;" text="Guardar" type="success" (onClick)="guardar(myForm)"></dx-button>
      <dx-button text="Regresar" type="danger" [routerLink]="['/categoria-producto-consulta']"></dx-button>
    </div>
  </form>
</div>
